################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/FileContentIndex/bd057044-c827-460f-afc0-78344566e3f3.vsidx
/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/FileContentIndex/bd057044-c827-460f-afc0-78344566e3f3.vsidx
/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/FileContentIndex/bd057044-c827-460f-afc0-78344566e3f3.vsidx
*.vsidx
*.dll
*.cache
/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/v17/.suo
/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/v17/DocumentLayout.backup.json
/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/v17/DocumentLayout.json
/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/DesignTimeBuild/.dtbcache.v2
/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/FileContentIndex/2108191e-9586-4e67-a89c-602230724b80.vsidx
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/obj/Debug/net8.0/ref/ControleDeGasto.dll
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/bin/Debug/net8.0/ControleDeGasto.dll
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/bin/Debug/net8.0/ControleDeGasto.exe
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/bin/Debug/net8.0/ControleDeGasto.pdb
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/obj/Debug/net8.0/ControleDeGasto.AssemblyInfoInputs.cache
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/obj/Debug/net8.0/ControleDeGasto.dll
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/obj/Debug/net8.0/ControleDeGasto.pdb
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/obj/Debug/net8.0/ControleDeGasto.sourcelink.json
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/obj/Debug/net8.0/ControleDeGasto.AssemblyInfo.cs
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/obj/Debug/net8.0/apphost.exe
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/obj/Debug/net8.0/ApiEndpoints.json
/Controle De Gasto/back/ControleDeGasto/ControleDeGasto/obj/Debug/net8.0/refint/ControleDeGasto.dll
