################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/FileContentIndex/bd057044-c827-460f-afc0-78344566e3f3.vsidx
/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/FileContentIndex/bd057044-c827-460f-afc0-78344566e3f3.vsidx
/Controle De Gasto/back/ControleDeGasto/.vs/ControleDeGasto/FileContentIndex/bd057044-c827-460f-afc0-78344566e3f3.vsidx
*.vsidx
*.dll
*.cache
